{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SpotifyLight.</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/one-page-wonder.min.css" %}" rel="stylesheet">

</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Spotify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/genrelist/">Gatunki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/artistlist/">Artyści</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tracklist/">Utwory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white" href="">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section>
    <br><br><br><br><br>
    {% block content %}
    {% endblock %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p style="color: white"><a href="/addgenre/"</a>DODAJ GATUNEK</p>
        <p style="color: white"><a href="/addartist/"</a>DODAJ ARTYSTĘ</p>
        <p style="color: white"><a href="/addtrack"</a>DODAJ UTWÓR</p>
        <p class="m-0 text-center text-white small">Copyright &copy; SE7EN 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</body>

</html>
